{% extends "index_base.html" %}

{% block content %}
  <h1>Property Home</h1>
  <p>Compare properties you would like to purchase.</p>
  <p>The following properties are available to compare:</p>
  <ul>
    {% for h in homes %}
    <!--    FIXME change href to /property/{{h.home_name}} when page is ready -->
    <li> <a href="/property/{{h.home_name}}/graph">{{ h.home_name }}</a></li>
    {% endfor %}
  </ul>
  <h1>Graphs</h1>
  {% for g in graphs %}
    <a href="/property/{{g.home_name}}/graph"> <img src="data:image/png;base64,{{ g.image_png_base64 }}"></a>
  {% endfor %}

{% endblock %}