{% extends "base.html" %}

{% block content %}
  <h1>Property Home</h1>
  <p>Compare properties you would like to purchase.</p>
  <p>The following properties are available to compare:</p>
  <ul>
    {% for h in homes %}
    <li>
      <div class="home_row">
        <a href="/property/details/{{h.home_name}}">{{ h.home_name }}</a>
          <form action="{% url 'delete_property' home_name=h.home_name %}" method="POST">
            {% csrf_token %}
            <input id="button-delete" class="btn btn-danger btn-sm" type="submit" value="Remove"/>
          </form>
        {% if h.domain_link %}
        <a href="{{h.domain_link}}">
          <button type="button" class="btn btn-success btn-sm">See on Domain</button>
        </a>
        {% endif %}
      </div>
    {% endfor %}
  </ul>
  <p>Add more properties <a href="/property/upload">here</a>.</p>
  <h1>Graphs</h1>
  <div class="all_graphs">
  {% for g in graphs %}
    <div class="single_graph">
      <a href="/property/details/{{g.home_name}}/graph">
        <img src="data:image/png;base64,{{ g.image_png_base64 }}" alt="Click here"></a>
    </div>
  {% endfor %}
  </div>

{% endblock %}