{% extends "base.html" %}

{% block content %}
    {% if msg == "fail" %}
        <div class="alert alert-danger">
            Fail to login! Try again.
        </div>
    {% endif %}
    {% if msg == "success" %}
        <div class="alert alert-success">
            Successfully logged in! Click <a href="/property">here</a> to compare properties.
        </div>
    {% endif %}
    {% if not msg or msg != "success" %}
        <h5>Please login:</h5>
        <form method="post" enctype="application/x-www-form-urlencoded">
            {% csrf_token %}
            {{ login_form }}
            <input type="submit" class="btn btn-primary btn-sm" value="Login!">
        </form>
    {% endif %}
{% endblock %}