{% extends "base.html" %}

{% block content %}
  <h1> {{home.home_name}}</h1>
<!--  <p>Details: {{home}}</p> &lt;!&ndash;TODO remove when not needed anymore&ndash;&gt;-->
<div>
  <ul>
    {% for k, v in home.items %}
    <li>{{k}} - {{v}}</li> <!--TODO fix details to be more visually friendly-->
    {% endfor %}
  </ul>
</div>

<div>
  <form method="post" enctype="application/x-www-form-urlencoded">
    {% csrf_token %}
    {% for field in form %}
    <div class="row">
      <div class="col-md-2">
        {{ field.label_tag }}
        {% if field.help_text %}
        <sup>{{ field.help_text }}</sup>
        {% endif %}
        {{ field.errors }}
      </div>
      <div class="col-md-20 pull-left">
        {{ field }}
      </div>
    </div>
    {% endfor %} <input type="submit" class="btn btn-primary btn-sm" value="Update property">
  </form>
</div>

<div>
    Graph: <a href="/property/details/{{home.home_name}}/graph">
    <img src="data:image/png;base64,{{ chart }}" alt="Click here"></a>
</div>

<div class="home_row">
  <form action="{% url 'delete_property' home_name=home.home_name %}" method="POST">
    {% csrf_token %}
    <input id="button-delete" class="btn btn-danger btn-sm" type="submit" value="Remove property"/>
  </form>
  {% if home.domain_link %}
  <a href="{{home.domain_link}}">
    <button type="button" class="btn btn-success btn-sm">See on Domain</button>
  </a>
  {% endif %}
</div>
{% endblock %}