{% extends "base.html" %}

{% block content %}
  <h1>Add properties from a CSV file...</h1>

  <p>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="file" name="csvpropertiesfile">
      <button type="submit">Add properties from CSV file</button>
    </form>
  </p>

  <h1>... Or manually by entering property details:</h1>
  <p>
    <form method="post" enctype="application/x-www-form-urlencoded">
      {% csrf_token %}
      {{ form }}
    <input type="submit" value="Add">
    </form>
  </p>

  {% if success %}
    <h3>Successfully saved properties!</h3>
  {% endif %}

{% endblock %}